@use "../../core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, padding);

$config: (
  utilities: (
    margin-inline-start: (
      important: false,
      shorthand: ps,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (margin-inline-start),
      static-properties: (),
      variants: (
        core.merge(
          core.sizes($range-limit),
          (
            auto: auto,
            0: 0,
          )
        )
      ),
      pseudos: (first, last, rtl, ltr)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);