@use "../../core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, height);

$config: (
  utilities: (
    height: (
      important: false,
      shorthand: h,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (height),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            auto: auto,
            0: 0,
            
            1p: 1%,
            25p: 25%,
            50p: 50%,
            75p: 75%,
            100p: 100%,
            
            1vh: 1vh,
            25vh: 25vh,
            50vh: 50vh,
            75vh: 75vh,
            100vh: 100vh,

            1dvh: 1dvh,
            25dvh: 25dvh,
            50dvh: 50dvh,
            75dvh: 75dvh,
            100dvh: 100dvh,
            
            1svh: 1svh,
            25svh: 25svh,
            50svh: 50svh,
            75svh: 75svh,
            100svh: 100svh,

            1lvh: 1lvh,
            25lvh: 25lvh,
            50lvh: 50lvh,
            75lvh: 75lvh,
            100lvh: 100lvh
          )
        )
      ),
      pseudos: (none)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);