@use "../../core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, max-width);

$config: (
  utilities: (
    max-width: (
      important: false,
      shorthand: max-w,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (max-width),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          core.name-screens(),
          (
            none: none,
            0: 0,

            1p: 1%,
            25p: 25%,
            50p: 50%,
            75p: 75%,
            100p: 100%,

            1vw: 1vw,
            25vw: 25vw,
            50vw: 50vw,
            75vw: 75vw,
            100vw: 100vw,

             1svw: 1svw,
            25svw: 25svw,
            50svw: 50svw,
            75svw: 75svw,
            100svw: 100svw,

            min: min-content,
            max: max-content,
            
            text: 64ch,

            xs: 20rem,
            sm: 30rem,
            md: 40rem,
            lg: 50rem,
            xl: 60rem,
            "2xl": 70rem,
            "3xl": 80rem,
            "4xl": 90rem,
            "5xl": 100rem,
            "6xl": 110rem,
            "7xl": 120rem,
            "8xl": 130rem,
            "9xl": 140rem,
            "10xl": 150rem,

            "screen-sm": 640px,
            "screen-md": 768px,
            "screen-lg": 1024px,
            "screen-xl": 1280px,
            "screen-2xl": 1536px
          )
        )
      ),
      pseudos: (none)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);