@use "../../core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, min-width);

$config: (
  utilities: (
    min-width: (
      important: false,
      shorthand: min-w,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (min-width),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            0: 0,
            1p: 1%,
            25p: 25%,
            50p: 50%,
            75p: 75%,
            100p: 100%,

            1vw: 1vw,
            25vw: 25vw,
            50vw: 50vw,
            75vw: 75vw,
            100vw: 100vw,

            1dvw: 1dvw,
            25dvw: 25dvw,
            50dvw: 50dvw,
            75dvw: 75dvw,
            100dvw: 100dvw,

            1svw: 1svw,
            25svw: 25svw,
            50svw: 50svw,
            75svw: 75svw,
            100svw: 100svw,

            1lvw: 1lvw,
            25lvw: 25lvw,
            50lvw: 50lvw,
            75lvw: 75lvw,
            100lvw: 100lvw,

            min: min-content,
            max: max-content,
            
            text: 64ch,
          )
        )
      ),
      pseudos: (none)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);